*,
html, body, div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#hd {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 9999;
}

#hd nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  max-width: 1460px;
  margin: 0 auto;
}

#hd nav .logo {
  float: left;
  padding: 20px 0;
/* border: 1px solid black; */
}

#hd nav .logo img {height: 50px;}

#hd nav ul {
  /* border: 1px solid black; */
  float: left;
  margin: 0;
  margin-left: 100px;
  padding: 40px 0;
  margin-top: 5px;
}

#hd nav ul li {
  float: left;
  display: block;
  list-style: none;
  height: 40px;
  overflow: hidden;
}

#hd nav ul li a {
  padding: 0 15px;
  line-height: 35px;
  text-decoration: none;
  color: white;
  margin-right: 50px;
  font-size: 19px;
  /* border: 1px solid black; */
}

#hd nav ul li a span {
  display: inline-block;
  position: relative;
  transition: 0.3s;
  /* overflow: hidden; */
  /* height: 40px; */
}

#hd nav ul li a:hover span:before {
  content: attr(data-hover);
  position: absolute;
  top: 100%;
  font-weight: bold;
  /* overflow: hidden; */
  
}

#hd nav ul li a:hover span {
  transform: translateY(-100%);
}

#hd nav ul li a, #hd nav .logo img {transition: 0.5s;}

#hd nav .hdicon {
  float: right;
  padding: 0 15px;
  line-height: 20px;
  margin-right: 10px;
  margin-top: 50px;
  font-size: 20px;
}

#hd nav .hdicon a { 
  text-decoration: none;
}

#hd nav .hdicon i {
  margin-right: 40px;
  color: black;
}

#hd.active {
  background: #f5e2e2;
  transition-delay: 0.2s;
  transition: 0.5s;
}

#hd.active nav .logo,  #hd .active nav ul {
  padding: 30px 0;
  transition: 0.5s;
}

#hd.active nav ul li a {
  color: #ef426f; font-size: 17px;
}

#gd.active nav .logo img {height: 46px;}

.hdimg {
  margin: auto;
  overflow: hidden;
  margin-bottom: 0;
}

.hdimg ul {
  width: calc(100% * 5);
  display: flex;
  animation: slide 20s infinite;
}

.hdimg ul li {
  width: calc(100% / 5);
  list-style: none;
  /* border: 1px solid black; */
}

@keyframes slide {
0% {margin-left:0;}
10% {margin-left:0;}
25% {margin-left:-100%;}
35% {margin-left:-100%;}
50% {margin-left:-200%;}
60% {margin-left:-200%;}
70% {margin-left:-300%;}
80% {margin-left:-300%;}
90% {margin-left:-400%;}
95% {margin-left:-400%;}
99% {margin-left:0;}
100% {margin-left:0;}
}

.flow_banner {
display: flex;
background: #fffaf5;
overflow: hidden;
width: 100%;
}

.flow_banner .list {
display: flex;
list-style: none;
}

.flow_banner .list > li {
width: 1000px;
font-size: 200px;
color: #171c8f;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/* border: 1px solid black; */
margin-top: 100px;
}

@keyframes flowRolling {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-100%);
}
}

.best-it {
background: #fffaf5;
width: 100%;
overflow: hidden;
}

.best-it > ul {
width: 100%;
text-align: center;
margin-top: 50px;
margin-bottom: 100px;
}

.best-it > ul > li {
display: inline-block;
margin-right: 50px;
}

.best-it > ul > li > a {
text-decoration: none;
color: black;
}

.best-it img {
transform: scale(1.0);
transition: transform .5s;
}

.best-it img:hover {
transform: scale(1.1);
transition: transform .5s;
}

.txt1 {
font-size: 18px;
font-weight: 600;
}

.txt2 {
font-size: 25px;
margin-top: 40px;
font-weight: 900;
}

.bg-img {
background: url(../images/makeup_look_main_bg_2208.jpg) no-repeat;
background-size: cover;
height: 1800px;
width: 100%;
}

.bg-img > ul {
text-align: center;
box-sizing: border-box;
}

.bg-img > ul > li {
margin: 0;
padding: 0;
list-style: none;
}

.bg-img > ul .bgimg1 {
padding-top: 100px;
}

.bg-img > ul .bgimg2 {
padding-top: 10px;
font-size: 50px;
font-weight: 800;
font-family: 'Cabin', sans-serif;
}

.bg-img > ul .bgimg3 {
padding-top: 50px;
color: black;
font-size: 25px;
font-weight: 800;
font-family: 'Cute Font', cursive;
}

.bg-img > ul .bgimg4 > button {
border: none;
width: 200px;
height: 60px;
line-height: 60px;
margin: 50px;
font-size: 20px;
background: #777;
color: white;
cursor: pointer;
border-radius: 5px;
font-family: 'Cabin', sans-serif;
}

.bg-img > ul .bgimg4 > button:hover {
background: white;
color: #777;
}

.bg-img > ul .bgimg5 {
margin-top: 200px;
}

.bg-img > ul .bgimg5 > img {
border: 5px solid #f8f8f8;
}


.bg-img > ul .bgimg6 {
margin: 80px;
padding-top: 100px;
color: #0d1693;
font-size: 150px;
font-weight: 800;
font-family: 'Abril Fatface', cursive;
}

.bar {
width: 50px;
height: 230px;
background: #ef426f;
position: fixed;
right: 0;
top: 50%;
transform: translateY(-50%);
}

.bar-inner {
padding: 23px 15px;
}

.bar-inner a {
writing-mode: vertical-lr;
text-decoration: none;
color: #f5e2e2;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-size: 17px;
font-weight: 600;
font-family: 'Nanum Gothic', sans-serif;
}


.bt21 ul {
width: 100%;
list-style: none;
text-align: center;
margin-top: 50px;
}

.bt21 ul li {
/* border: 1px solid black; */
display: inline-block;
margin: 100px;
}


.bt211txt {
padding: 5px;
background: #f5e2e2;
color: #ef426f;
font-weight: 600;
font-size: 20px;
}

.bt212txt {
padding: 5px;
background: #f5e2e2;
color: #ef426f;
font-weight: 600;
font-size: 20px;
}

.soonjung {
width: 100%;
overflow: hidden;
}

.soonjung > ul {
text-align: center;
box-sizing: border-box;
margin-top: 80px;
}

.soonjung .sj2 {
padding-top: 10px;
font-size: 50px;
font-family: 800;
font-family: 'Cabin', sans-serif;
}

.soonjung .sj3 {
margin-top: 20px;
font-weight: 600;

}

.soonjung .sj4 > button {
border: none;
width: 200px;
height: 60px;
line-height: 60px;
margin: 50px;
font-size: 20px;
background: #777;
color: white;
cursor: pointer;
border-radius: 5px;
font-family: 'Cabin', sans-serif;
} 

.soonjung .sj4 > button:hover {
background: #f5e2e2;
color: #ef426f
}

.sjimg {
width: 100%;
overflow: hidden;
}

.sjimg > ul {
width: 100%;
text-align: center;
}

.sjimg > ul li {
display: inline-block;
padding: 20px;
margin-top: 50px;
}

.sjimgbox1, .sjimgbox2, .sjimgbox3, .sjimgbox4 {
width: 500px;
height: 500px;
position: relative;
overflow: hidden;

}

.sjimgbox1 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.sjimgbox1:hover img:last-child {
opacity: 0;

}

.sjimgbox1:hover img:first-child {
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.sjimgbox2 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.sjimgbox2:hover img:last-child {
opacity: 0;

}

.sjimgbox2:hover img:first-child {
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.sjimgbox3 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.sjimgbox3:hover img:last-child {
opacity: 0;

}

.sjimgbox3:hover img:first-child {
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.sjimgbox4 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.sjimgbox4:hover img:last-child {
opacity: 0;

}

.sjimgbox4:hover img:first-child {
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.sjtxt1 {
padding: 10px;
color: #a3a3a3;
text-align: center;
font-size: 15px;
font-family: 'Noto Serif KR', serif;
}

.sjtxt2 {
padding: 35px;
font-family: 'Nanum Gothic', sans-serif;
font-size: 17px;
font-weight: 600;
}

.sjtxt3 {
ont-family: 'Nanum Gothic', sans-serif;
font-size: 25px;
font-weight: 900;
}

.line {
border-top: 1px solid #cecece;
margin: 0 auto;
width: 80%;
margin: 100px;
}

.gift {
width: 100%;
overflow: hidden;
}

.gift > ul {
text-align: center;
/* border-top: 1px solid #a3a3a3; */
margin-top: 80px;
}

.gift2 {
padding-top: 10px;
font-size: 50px;
font-family: 800;
font-family: 'Cabin', sans-serif;
}

.gift3 {
margin-top: 20px;
font-weight: 600;
}

.gift4 > button {
border: none;
width: 200px;
height: 60px;
line-height: 60px;
margin: 50px;
font-size: 20px;
background: #777;
color: white;
cursor: pointer;
border-radius: 5px;
font-family: 'Cabin', sans-serif;
}

.gift4 > button:hover {
background: #f5e2e2;
color: #ef426f
}

.giftbox {
width: 100%;
overflow: hidden;
}

.giftbox > ul {
text-align: center;
}

.giftbox > ul > li {
display: inline-block;
padding: 20px;
margin-top: 50px;
position: relative;
}



.gfimgbox1, .gfimgbox2, .gfimgbox3, .gfimgbox4 {
width: 500px;
height: 500px;
position: relative;
overflow: hidden;
}

.talk {
position: absolute;
width: 50px;
height: 30px;
background: #feda00;
color: black;
top: 10px;
right: 17px;
font-weight: 600;
line-height: 30px;
font-size: 16px;
}

.gfimgbox1 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.gfimgbox1:hover img:last-child {
opacity: 0;

}

.gfimgbox1:hover img:first-child {
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.gfimgbox2 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.gfimgbox2:hover img:last-child {
opacity: 0;

}

.gfimgbox2:hover img:first-child {
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.gfimgbox3 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.gfimgbox3:hover img:last-child {
opacity: 0;

}

.gfimgbox3:hover img:first-child {
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.gfimgbox4 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.gfimgbox4:hover img:last-child {
opacity: 0;

}

.gfimgbox4:hover img:first-child {
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.bg-img2 {
background: url(../images/whatsnew-bg.jpg) no-repeat;
background-size: cover;
width: 100%;
overflow: hidden;
margin-top: 100px;
padding-bottom: 80px;
}

.bg-img2 > ul {
text-align: center;
margin-top: 80px;
}

.wn1 {
padding-top: 80px;
/* border: 1px solid black; */
}


.wn2 {
padding-top: 10px;
font-size: 50px;
font-family: 800;
font-family: 'Cabin', sans-serif;
}

.wn3 {
margin-top: 20px;
font-weight: 600;
}

.wn4 > button {
border: none;
width: 200px;
height: 60px;
line-height: 60px;
margin: 50px;
font-size: 20px;
background: #777;
color: white;
cursor: pointer;
border-radius: 5px;
font-family: 'Cabin', sans-serif;
}

.wn4 > button:hover {
background: #f5e2e2;
color: #ef426f
}

.whats > ul {
width: 100%;
text-align: center;
}

.whats > ul li {
display: inline-block;
padding: 20px;
margin-top: 50px;
}

.whatsbox1, .whatsbox2, .whatsbox3, .whatsbox4 {
width: 500px;
height: 500px;
position: relative;
overflow: hidden;
}

.new1 {
position: absolute;
width: 50px;
height: 30px;
background: black;
color: #f2c6cf;
top: 0px;
right: 17px;
font-weight: 800;
line-height: 30px;
font-size: 16px;
}

.whatsbox1 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.whatsbox1:hover img:nth-child(2) {
opacity: 0;

}

.whatsbox1:hover img:first-child{
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}


.whatsbox2 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.whatsbox2:hover img:nth-child(2) {
opacity: 0;

}

.whatsbox2:hover img:first-child{
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.whatsbox3 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.whatsbox3:hover img:nth-child(2) {
opacity: 0;

}

.whatsbox3:hover img:first-child{
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.whatsbox4 > img {
width: 100%;
height: 100%;
position: absolute;
display: block;
top: 0;
left: 0;
transition: opacity 1s;
cursor: pointer;
}

.whatsbox4:hover img:nth-child(2) {
opacity: 0;

}

.whatsbox4:hover img:first-child{
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.whats1 {
background: rgba(241, 241, 241, 0.733);
padding: 0;
margin: 0;
margin-right: 20px;
}

.whatstxt1 {
padding: 10px;
color: #888888;
text-align: center;
font-size: 15px;
font-family: 'Noto Serif KR', serif;
}

.whatstxt2 {
padding: 35px;
font-family: 'Nanum Gothic', sans-serif;
font-size: 17px;
font-weight: 600;
}

.whatstxt3 {
font-family: 'Nanum Gothic', sans-serif;
font-size: 25px;
font-weight: 900;
}

.white {
width: 100%;
overflow: hidden;
display: flex;
justify-content: center;
position: relative;
}

.tiktokinsta {
display: flex;
justify-content: center;
/* border: 1px solid black; */
}


.pink {
width: 25%;
height: 1300px;
position: absolute;
top: 0;
right: 0;
z-index: -9999;
background: linear-gradient(white,#f2c6cf);
}

.tiktok {
/* border: 1px solid black; */
margin-top: 100px;
margin-right: 300px;
padding: 30px 0 30px 70px;
}

.icons {
/* border: 1px solid black; */
display: block;
font-size: 41px;
line-height: 35px;
margin-top: 100px;
text-align: center;
padding-right: 300px;
}

.icons i {
padding: 20px;
/* border: 1px solid black; */
}

.icons a {
text-decoration: none;
color: black;
}

.icons2 {
/* border: 1px solid black; */
width: 30px;
display: block;
float: right;
margin-bottom: 50px;
}



.tiktxt1 {
/* border: 1px solid black; */
font-size: 27px;
margin-right: 30px;
margin-bottom: 25px;
font-family: 'Raleway', sans-serif;
}

.tiktxt1 span {
font-weight: 800;
font-family: 'Raleway', sans-serif;
}

.tiktxt2 {
text-align: right;
margin-top: 25px;
font-size: 30px;
font-family: 'Raleway', sans-serif;
}

.tiktxt3 {
text-align: right;
font-size: 35px;
font-family: 'Raleway', sans-serif;
font-weight: 900;
}

.tiktxt3 span {
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;
}

.slidewp {
margin-top: 200px;
margin-bottom: 100px;
}


.line2 {
border-top: 1px solid #cecece;
margin: 0 auto;
width: 80%;
}

.newevent {
width: 100%;
overflow: hidden;
}

.newevent > ul {
text-align: center;
box-sizing: border-box;
margin-top: 100px;
}

.newevent .ne2 {
padding-top: 10px;
font-size: 50px;
font-family: 800;
font-family: 'Cabin', sans-serif;
}

.newevent .ne4 > button {
border: none;
width: 200px;
height: 60px;
line-height: 60px;
margin: 50px;
font-size: 20px;
background: #777;
color: white;
cursor: pointer;
border-radius: 5px;
font-family: 'Cabin', sans-serif;
}

.newevent .ne4 > button:hover {
background: #f5e2e2;
color: #ef426f
}

#newevent2 {
width: 100%;
overflow: hidden;
position: relative;
}

#newevent2 > .neslide {
text-align: center;
box-sizing: border-box;
margin-top: 100px;
}


.neslide {
position: relative;
overflow: hidden;
}

.netxt {
position: absolute;
width: 300px;
height: 50px;
text-align: center;
color: white;
text-shadow: 1px 1px 1px rgb(198, 198, 198);
top: 330px;
left: 0;
font-weight: 600;
line-height: 50px;
font-size: 21px;
}


.bx-wrapper{border:none;}
.bx-wrapper{border:none;margin: 0 auto; box-shadow: none;}
.bx-wrapper .bx-pager-item{display: none;}
.bx-wrapper .bx-pager .bx-default-pager a{display: none;}

.bx-wrapper .bx-controls-direction a{right: -45px; background:url(../images/next.png);}
.bx-wrapper .bx-prev{left:-45px; background:url(../images/prev.png)!important; }

.slider > div img{border-radius: .8em;}

footer {
  width: 100%;
  overflow: hidden;
  background: #f7f7f7;
  margin-top: 250px;
}

.footer1 {
  max-width: 1550px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.rhdwl2 > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 45px;
  padding-bottom: 80px;
}

.rhdwl2 > ul > li a {
  text-decoration: none;
  color: #777;
}

.rhdwl2 > ul > li {
  float: left;
  padding: 25px;
  font-size: 17px;
  /* border: 1px solid black; */
}

.rhdwl2 > ul > li::after {
  content: "ã…£";
  float: right;
  color: black;
  margin-right: -30px;
}

.rhdwl2 > ul > li:last-child::after {
  content: "";
}

.rhdwl2txt {
  font-weight: 600;
}


.footerlogo {
  width: 100%;
  padding-top: 50px;
  /* border: 1px solid black; */
}


.footerlogo2 {
  float: left;
  margin-left: 20px;
  /* border: 1px solid black; */
  padding-top: 30px;
  padding-left: 30px;
}

.footerlogo2 > img {
  margin-top: 100px;
  padding-left: 100px;
}

.footerlogo2 > p {
  float: right;
  font-size: 17px;
  line-height: 30px;
  font-family: 'Nanum Gothic', sans-serif;
  margin-left: 30px;
}

.footerlogo3 { 
  /* border: 1px solid black; */
  float: right;
  width: 455px;
  padding-right: 50px;
}

.footericon1, .footericon2, .footericon3 {
  padding: 5px;
}

.footericon1 > img {
  clear: both;
  float: left;
  margin-right: 25px;
  margin-top: 8px;
}

.footericon1 > p {
  font-size: 17px;
  line-height: 25px;
  font-family: 'Nanum Gothic', sans-serif;
}


.footericon2 > img {
  clear: both;
  float: left;
  margin-right: 25px;
  margin-top: 8px;
}

.footericon2 > p {
  font-size: 17px;
  line-height: 25px;
  font-family: 'Nanum Gothic', sans-serif;
}

.footericon3 > img {
  clear: both;
  float: left;
  margin-right: 25px;
  margin-top: 8px;
}

.footericon3 > p {
  font-size: 17px;
  line-height: 45px;
  font-family: 'Nanum Gothic', sans-serif;
}

.copy {
  clear: both;
  width: 100%;
  height: 100px;
  padding-top: 55px;
}

.copy1 {
  float: left;
}

.copy1 > span {
 font-size: 17px;
 line-height: 50px;
 font-weight: 600;
 color: #1823c0;
}

.copy2 {
  float: right;

}

.copy2 > a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  padding-right: 15px;
}


